#pokemon-list {
    margin: 20px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, auto));
    grid-gap: 20px;
}

@keyframes hover {
    50% {
        background-color: white;
    }
}

@media only screen and (max-width: 600px) {
    #pokemon-list {
        margin: 5px;
        list-style: none;
        display: grid;
        grid-template-columns: 100%;
    }
    #pokemon-li span {
        text-align: center;
        border-radius: 2px;
        font-size: 60px;
        justify-content: center;
        align-items: center;
        font-family: 'Arial Narrow Bold', sans-serif;
        padding: 0;
        max-height: 30px;
    }
    #showMore {
        text-align: center;
        border-radius: 2px;
        font-size: 60px;
        justify-content: center;
        align-items: center;
        font-family: 'Roboto';
        padding: 0;
        min-width: 80%;
    }
}

#pokemon-li {
    color: black;
    min-width: 150px;
    max-height: 200px;
    background-color: #d53141;
    border-radius: 4px;
    display: grid;
    align-items: center;
    justify-content: stretch;
    cursor: pointer;
    text-decoration: none;
}

#pokemon-li span {
    text-align: center;
    background-color: white;
    border-radius: 5px;
    font-size: 10px;
    height: 100%;
    justify-content: center;
    padding: 10%;
    align-items: center;
    font-family: 'Roboto';
}

#pokemon-li img {
    background-color: white;
    border-radius: 50px;
}

#pokemon-li:hover {
    animation: hover 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

#showMore {
    margin: 20px;
    width: 20%;
    height: 70px;
    background-color: #d53141;
    color: white;
    font-family: 'Roboto';
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

#showMore:hover {
    opacity: 0.8;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 1%;
}

#SearchBtn {
    margin: 20px;
    min-width: 10%;
    height: 30px;
    background-color: #d53141;
    color: white;
    font-family: 'Roboto';
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

#search {
    width: 50%;
    padding: 5px;
    border-radius: 2px;
    font-family: 'Roboto';
    font-size: 17px;
}